pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}
code.hljs {
    padding: 3px 5px;
}
.hljs {
    color: var(--c-text);
    background: var(--c-background-darker);
    border: solid 2px var(--c-background-dark);
    border-radius: 6px;
}
.hljs::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.hljs::-webkit-scrollbar-thumb {
    background: var(--c-background-darker);
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px var(--c-background), inset -2px -2px 2px var(--c-background-dark);
}
.hljs::-webkit-scrollbar-track {
    border-radius: 0 0 6px 6px;
    background: linear-gradient(90deg, var(--c-background-light), var(--c-background-light) 2px, var(--c-background) 0, var(--c-background) );
}
.hljs::-webkit-resizer {
    background: var(--c-background-lighter);
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
    color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
    color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
    color: #005cc5;
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
    color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
    color: #e36209;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
    color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
    color: #22863a;
}
.hljs-subst {
    color: #24292e;
}
.hljs-section {
    color: #005cc5;
    font-weight: 700;
}
.hljs-bullet {
    color: #735c0f;
}
.hljs-emphasis {
    color: #24292e;
    font-style: italic;
}
.hljs-strong {
    color: #24292e;
    font-weight: 700;
}
.hljs-addition {
    color: #22863a;
    background-color: #f0fff4;
}
.hljs-deletion {
    color: #b31d28;
    background-color: #ffeef0;
}

/* Dark Theme */
.dark .hljs-doctag,
.dark .hljs-keyword,
.dark .hljs-meta .hljs-keyword,
.dark .hljs-template-tag,
.dark .hljs-template-variable,
.dark .hljs-type,
.dark .hljs-variable.language_ {
    color: var(--c-link);
}
.dark .hljs-title,
.dark .hljs-title.class_,
.dark .hljs-title.class_.inherited__,
.dark .hljs-title.function_ {
    color: #0debf2;
}
.dark .hljs-attr,
.dark .hljs-attribute,
.dark .hljs-literal,
.dark .hljs-meta,
.dark .hljs-number,
.dark .hljs-operator,
.dark .hljs-selector-attr,
.dark .hljs-selector-class,
.dark .hljs-selector-id,
.dark .hljs-variable {
    color: #6cb6ff;
}
.dark .hljs-meta .hljs-string,
.dark .hljs-regexp,
.dark .hljs-string {
    color: #9ccc65;
}
.dark .hljs-built_in,
.dark .hljs-symbol {
    color: #f69d50;
}
.dark .hljs-code,
.dark .hljs-comment,
.dark .hljs-formula {
    color: var(--c-text);
}
.dark .hljs-name,
.dark .hljs-quote,
.dark .hljs-selector-pseudo,
.dark .hljs-selector-tag {
    color: #8ddb8c;
}
.dark .hljs-subst {
    color: #adbac7;
}
.dark .hljs-section {
    color: #316dca;
    font-weight: 700;
}
.dark .hljs-bullet {
    color: #eac55f;
}
.dark .hljs-emphasis {
    color: #adbac7;
    font-style: italic;
}
.dark .hljs-strong {
    color: #adbac7;
    font-weight: 700;
}
.dark .hljs-addition {
    color: #b4f1b4;
    background-color: #1b4721;
}
.dark .hljs-deletion {
    color: #ffd8d3;
    background-color: #78191b;
}

/* Tables */
table {width: 100%;border-collapse: collapse;border-spacing: 0;overflow: hidden;}
table > thead {text-align: left;border: solid 1px var(--c-background-darker);}
table > thead > tr > th {padding: 6px;background: var(--c-background-dark);}
table > tbody > tr > td {padding: 6px;}
table > tbody {border: solid 1px var(--c-background-darker);}
table > tbody > tr {border-bottom: solid 1px var(--c-background-dark);}
table > tbody > tr:last-child {border-bottom: none;}

/* Codes and Blockquotes */
code {background: var(--c-background-lighter);padding: 2px 4px;}
blockquote {background: linear-gradient(90deg, var(--c-background-darker), transparent);border-left: solid 4px var(--c-text);padding: 2px 10px;display: inline-block;}